[v-cloak] {
    display: none;
}

* {
    box-sizing: border-box;
}

html {
    font-family: Calibri;
}

body {
    background-color: #ffffff;/*#fbfbfb*/
    margin: 0px;
    font-family: "open sans", arial, sans-serif;
    font-size: 14px;
}

main {
    padding-top: 130px;
}

header {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    border-bottom: 1px solid #0000000d;
    height: 90px;
    box-sizing: content-box;
    background-color: #005E6B; /*#ff79b6, #E2738C*/
    z-index: 1;
    font-family: Calibri;
}

img.logo {
    float: left;
    height: 52px;
    margin: calc((90px - 52px) / 2) 0;
    margin-right: 30px;
}

ul.navigation {
    list-style: none;
    padding: 0;
    float: left;
    margin: 0;
    height: 90px;
    width: 100%;
}

ul.navigation li {
    text-align: center;
    display: inline-block;
    height: 90px;
    font-size: 20px;
}

ul.navigation li a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    margin: 0px 5px;
    padding: 0 5px;
    height: 90px;
    line-height: 90px;

}

h1, h2, h3 {
    font-weight: 400;
    font-family: "Trebuchet MS";
}

h1 {
    color: #004E43;
    margin-bottom: 16px;
}

h2 {
    font-size: 20px;
    margin-top: 0;
}

.width-limit {
    max-width: 980px;
    margin: 0 auto;
    overflow: auto;
    padding-left: 15px;
    padding-right: 15px;
}

#editor-wrap {
    margin: 15px 0;
    border-radius: 5px;
    overflow: hidden;
}

#top-bar {
    background-color: #1b1d19;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 7px 15px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px 25px 5px 10px;
    border: 0;
    color: rgba(255, 255, 255, 0.8);
    outline: 0;
    font-size: 14px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAFAgMAAAABCpX7AAAACVBMVEX///8AAAD///9+749PAAAAA3RSTlPMAICPeyjaAAAAHElEQVQI12NoYFBgSGCYwBDBFMAQxhnAELo0AAAmCQQ0B0XZBgAAAABJRU5ErkJggg==') right 10px top 50% no-repeat #f5f5f5;
    background-color: #1b1d19;
}

.tall {
    height: 50px;
}

#editor {
    width: 100%;
    min-height: 250px;
}

#output {
    background: #1b1d19;
    font-family: monospace;
    font-size: 13px;
    color: #ff9814;
    padding: 15px;
    width: 100%;
    height: 150px;
    border-top: 1px solid #a2620f;
    white-space: pre;
}

#editor ::-webkit-scrollbar {
    width: 5px;
    height: 5px
}

#editor ::-webkit-scrollbar-thumb {
    background: #777;
    border-radius: 5px
}

#editor ::-webkit-scrollbar-thumb:hover {
    background: #999
}

#editor ::-webkit-scrollbar-track {
    background: #333;
    border-radius: 5px
}

#editor ::-webkit-scrollbar-button {
    width: 8px;
    height: 8px
}

.button {
    display: inline-block;
    background-color: #00897A;
    margin: 0 auto;
    margin-top: 10px;
    max-width: 150px;
    padding: 10px;
    border-radius: 3px;
    font-weight: 900;
    cursor: pointer;
    color: #fff;
    font-family: monospace;
    border: 0;
    text-decoration: none;
}

.button:disabled {
    background-color: #999;
}

ul.block-list {
    list-style: none;
    padding: 0;
    margin-top: 0;
}

ul.block-list a {
    text-decoration: none;
    padding: 15px;
    display: block;
}

ul.block-list .block {
    background-color: #F9F9F9;
    border: 1px solid #ddd;
    border-left: 3px solid #6ACBC3;
}

ul.block-list .block + .block {
    margin-top: 20px;
}

.block__title {
    font-size: 20px;
    color: #333;
}

.block__description {
    color: #777;
}

.exercise-info {
    position: relative;
    padding: 15px;
    background: white;
    border: 1px solid #ddd;
}

.exercise-info .description {
    overflow: auto;
}

.exercise-info .description p {
    margin-top: 0;
}

.exercise-info .toggle {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 21px;
    padding: 25px;
    cursor: pointer;
}

.exercise-info .toggle .open,
.exercise-info .toggle .close {
    display: none;
}

.exercise-info.minimized-description .toggle .open,
.exercise-info:not(.minimized-description) .toggle .close {
    display: block;
}

#login-form {
    background: white;
    max-width: 300px;
    box-shadow: 0 1px 10px rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 20px;
    position: fixed;
    margin: 100px auto;
    left: 0;
    right: 0;
}

#login-form input {
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
}

#login-form button {
    float: right;
    padding: 10px 23px;
}

#logout {
    float: right;
}

#lesson-content {
    display: flex;
}

#lesson-left-container {
    flex: 2;
}

#lesson-text {
    line-height: 1.5;
    color: #444;
    margin-right: 32px;
    padding: 16px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 16px;
    white-space: pre-wrap;
}

#deleteLesson {
    float: left;
    margin-right: 10px;
}

#lesson-right-container {
    flex-basis: 300px;
}

#filter-lessons {
    display: block;
    padding: 16px;
    margin-right: 32px;
    background-color: #F9F9F9;;
    border: 1px solid #ddd;
    margin-bottom: 16px;
}

/*vuetify overrides*/

.container {
    padding: 0;
    background-color: #FFFFFF;
}