* {
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    margin: 100px 250px;
}

h1 {
    color: #00509E;
}

textarea {
    border-radius: 2px;
    width: 900px;
    max-width: 900px;
    height: 300px;
}

button {
    background-color: #e2e2e2;
    margin: 0 auto;
    margin-top: 10px;
    max-width: 150px;
    padding: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    border-radius: 3px;
    font-weight: 700;
    cursor: pointer;
    color: #00509E;
}

#output {
    background-color: #FFFFFF;
    border: solid 1px #A9A9A9;
    border-radius: 2px;
    width: 900px;
    height: 300px;
}
