[v-cloak] {
    display: none;
}

* {
    box-sizing: border-box;
}

html {
    font-family: Calibri;
    overflow: hidden;
}

body {
    background: #f5f5f5;
    margin: 0px;
    font-family: "open sans", arial, sans-serif;
    font-size: 14px;
}

main {
    padding-top: 115px;
}

header {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    box-sizing: content-box;
    background-color: #008191; /*#ff79b6, #E2738C*/
    border-bottom: 4px solid #005E6B; /*#ff79b6, #E2738C*/
    z-index: 1;
    font-family: Calibri, sans-serif;
}

header .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

img.logo {
    height: 45px;
    margin-right: 30px;
}

ul.navigation {
    width: 100%;
}

ul.navigation li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}

ul.navigation li a {
    text-decoration: none;
    color: #ffffff;

}

h1, h2, h3 {
    font-weight: 400;
    font-family: "Trebuchet MS";
}

h1 {
    color: #004E43;
    margin-bottom: 16px;
}

h2 {
    font-size: 20px;
    margin-top: 0;
}

.width-limit {
    max-width: 980px;
    margin: 0 auto;
    overflow: auto;
    padding-left: 15px;
    padding-right: 15px;
}

#editor-wrap {
    margin: 15px 0;
    border-radius: 5px;
    overflow: hidden;
}

#top-bar {
    background-color: #1b1d19;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 7px 15px;
}

#lang-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px 25px 5px 10px;
    border: 0;
    color: rgba(255, 255, 255, 0.8);
    outline: 0;
    font-size: 14px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAFAgMAAAABCpX7AAAACVBMVEX///8AAAD///9+749PAAAAA3RSTlPMAICPeyjaAAAAHElEQVQI12NoYFBgSGCYwBDBFMAQxhnAELo0AAAmCQQ0B0XZBgAAAABJRU5ErkJggg==') right 10px top 50% no-repeat #f5f5f5;
    background-color: #1b1d19;
}

.tall {
    height: 50px;
}

#editor {
    width: 100%;
    min-height: 250px;
}

.output {
    background: #1b1d19;
    font-family: monospace;
    font-size: 13px;
    color: #ff9814;
    padding: 15px;
    width: 100%;
    height: 150px;
    border-top: 1px solid #a2620f;
    white-space: pre;
}

#editor ::-webkit-scrollbar {
    width: 5px;
    height: 5px
}

#editor ::-webkit-scrollbar-thumb {
    background: #777;
    border-radius: 5px
}

#editor ::-webkit-scrollbar-thumb:hover {
    background: #999
}

#editor ::-webkit-scrollbar-track {
    background: #333;
    border-radius: 5px
}

#editor ::-webkit-scrollbar-button {
    width: 8px;
    height: 8px
}

.button {
    display: inline-block;
    background-color: #f0f0f0;
    margin: 5px;
    max-width: 200px;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    color: #2c2c2c;
    border: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
    text-decoration: none;
    text-transform: uppercase;
}

.button:disabled {
    background-color: #999;
}

ul.block-list {
    list-style: none;
    padding: 0;
    margin-top: 0;
}

ul.block-list a {
    text-decoration: none;
    padding: 15px;
    display: block;
}

ul.block-list .block {
    background-color: #fff;
    border: 1px solid #ddd;
    border-left: 3px solid #009cb0;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

ul.block-list .block + .block {
    margin-top: 20px;
}

.block__title {
    font-size: 18px;
    color: #333;
}

.block__description {
    color: #777;
}

.exercise-info {
    position: relative;
    padding: 15px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

.exercise-info .description {
    overflow: auto;
}

.exercise-info .description p {
    margin-top: 0;
}

.exercise-info .toggle {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 21px;
    padding: 25px;
    cursor: pointer;
}

.exercise-info .toggle .open,
.exercise-info .toggle .close {
    display: none;
}

.exercise-info.minimized-description .toggle .open,
.exercise-info:not(.minimized-description) .toggle .close {
    display: block;
}

#login-form {
    background: #fff;
    max-width: 300px;
    box-shadow: 0 1px 10px rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 20px;
    position: fixed;
    margin: 100px auto;
    left: 0;
    right: 0;
}

#login-form input {
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
}

#login-form button {
    float: right;
    padding: 10px 23px;
}

#logout {
    float: right;
}

#lesson-content {
    display: flex;
}

#lesson-left-container {
    flex: 2;
    margin-right: 24px;
}

#lesson-text {
    line-height: 1.5;
    color: #444;
    margin-right: 32px;
    padding: 16px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 16px;
    white-space: pre-wrap;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

#deleteLesson {
    float: left;
    margin-right: 10px;
}

#lesson-right-container {
    flex-basis: 300px;
}

#filter-lessons {
    display: block;
    padding: 16px;
    margin-right: 32px;
    background-color: #fff;;
    border: 1px solid #ddd;
    margin-bottom: 16px;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

#lesson-info {
    line-height: 1.5;
    color: #444;
    margin-right: 32px;
    padding: 16px;
    background-color: #fff;
    border: 1px solid #efefef;
    margin-bottom: 16px;
    white-space: pre-wrap;
}

#exercise-content {
    display: flex;
}

#exercise-left-container {
    flex: 1;
    margin-right: 12px;
}

#exercise-right-container {
    flex: 1;
    margin-left: 12px;
}

#addExercise {
    width: 100%;
    margin: 0;
}

li + #addExercise {
    margin-top: 20px;
}

#chart_div {
    box-shadow: 0 1px 4px rgba(0,0,0,0.40);
    border-radius: 5px;
    overflow: hidden;
    border-bottom: 5px solid white;
}

/*vuetify overrides*/

.input-group--select .input-group__input {
    margin-top: 5px;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.40);
    border-bottom: 0;
}

.input-group--select .input-group__details {
    visibility: hidden;
}

.container {
    padding: 0;
}

.application.theme--light,
.application .theme--light.card, .theme--light .card {
    background: #f5f5f5;
}

.application .theme--light.input-group--text-field.input-group--text-field-box .input-group__input,
.theme--light .input-group--text-field.input-group--text-field-box .input-group__input {
    background: #fff; /* Input background */
    box-shadow: 0 1px 4px rgba(0,0,0,0.40);
}

.add-testcode-expansion-panel .input-group__details {
    display: none;
}

.input-group.input-group--text-field-box,
.input-group.input-group--text-field.input-group--text-field-box.input-group--multi-line.primary--text {
    padding-top: 0;
}

.input-group--text-field-box:not(.input-group--textarea):not(.input-group--multi-line) label,
.input-group--text-field-box:not(.input-group--textarea).input-group--multi-line label {
    top: 16px;
}

