<!DOCTYPE html>
<html>
<head>
    <title>Oppgave 9</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<main>
    <h1>Hello World</h1>
    <form method="post" action="/run-code">
        #if($codeInput)
            <textarea name="code">$codeInput</textarea>
        #else
            <textarea name="code"></textarea>
        #end
        <button>Submit</button>
    </form>
    #if($codeOutput)
        <div id="output">$codeOutput</div>
    #else
        <div id="output">Waiting ...</div>
    #end
</main>
</body>
</html>
