#parse("/velocity/layout.vm")
#@mainLayout()
<h1>Run code</h1>
<select id="language-select" name="language">
    #foreach($language in $supportedLanguages)
        <option value="$language.name">$language.displayName</option>
    #end
</select>
<div id="editor-wrap">
    <div id="editor">function helloWorld() {
    console.log("Hello, world!");
}

helloWorld();</div>
    <div id="output">Waiting ...</div>
</div>
<button id="run-code-btn">Run code</button>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/javascript");
    document.getElementById("language-select").addEventListener("change", function () {
        editor.getSession().setMode("ace/mode/" + getSelectedLanguage());
    });
    document.getElementById("run-code-btn").addEventListener("click", function () {
        var data = {
            language: getSelectedLanguage(),
            code: editor.getValue()
        }
        axios.post("/run-code", data).then(function (response) {
            document.getElementById("output").innerHTML = response.data;
        }).catch(function (error) {
            alert("An error occurred")
        });
    });

    function getSelectedLanguage() {
        var languageSelect = document.getElementById("language-select");
        return languageSelect.options[languageSelect.selectedIndex].value;
    }
</script>
#end
