#* @vtlvariable name="exercise" type="app.model.Exercise" *#
#parse("/velocity/layout.vm")
#@mainLayout()
<div class="exercise-info">
    <h1>$exercise.title</h1>
    <div class="description">
        <p>$exercise.instructions</p>
    </div>
    <div class="toggle">
        <i class="fa fa-plus open" aria-hidden="true"></i>
        <i class="fa fa-minus close" aria-hidden="true"></i>
    </div>
</div>
<div id="editor-wrap">
    <div id="top-bar">
        <select id="language-select" name="language">
            #foreach($language in $supportedLanguages)
                <option value="$language.name">$language.displayName</option>
            #end
        </select>
    </div>
    <div id="editor">$exercise.startCode.get("JAVASCRIPT")</div>
    <div id="output">Waiting ...</div>
</div>
<button class="button" id="run-code-btn">Run code</button>
<button class="button" id="check-answer-btn">Check answer</button>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/javascript");
    editor.setShowPrintMargin(false);
    editor.renderer.setScrollMargin(8, 8)
    document.getElementById("language-select").addEventListener("change", function () {
        editor.getSession().setMode("ace/mode/" + getSelectedLanguage().toLowerCase());
    });
    document.getElementById("run-code-btn").addEventListener("click", function () {
        var data = { // the json we send to the server, which is mapped to CodeRunningInput.java
            exerciseId: "$exercise.id",
            language: getSelectedLanguage(),
            code: editor.getValue()
        }
        axios.post("/api/run-code", data).then(function (response) {
            document.getElementById("output").innerHTML = response.data;
        }).catch(function (error) {
            alert("An error occurred")
        });
    });

    document.getElementById("check-answer-btn").addEventListener("click", function () {
        var data = { // the json we send to the server, which is mapped to CodeRunningInput.java
            exerciseId: "$exercise.id",
            language: getSelectedLanguage(),
            code: editor.getValue()
        }
        axios.post("/api/run-code-with-test/", data).then(function (response) {
            document.getElementById("output").innerHTML = response.data.message;
        }).catch(function (error) {
            alert("An error occurred")
        });
    });

    function getSelectedLanguage() {
        var languageSelect = document.getElementById("language-select");
        return languageSelect.options[languageSelect.selectedIndex].value;
    }

    document.querySelector(".toggle").addEventListener("click", function () {
        document.querySelector(".exercise-info").classList.toggle("minimized-description")
        $(".description").slideToggle(200);
    });
</script>
#end
