#parse("/velocity/layout.vm")
#@mainLayout()
<div id="exercises-vue" v-cloak>
    <ul class="exercise-list">
        <li v-for="exercise in exercises" class="exercise">
            <a href="#">
                <div class="exercise__title"> {{ exercise.title }} </div>
                <div class="exercise__description"> {{ exercise.description }} </div>
            </a>
        </li>
    </ul>
</div>
<script>
    axios.get("/api/exercises").then(function (response) {
        new Vue({
            el: '#exercises-vue',
            data: {
                exercises: response.data
            }
        })
    }).catch(function (error) {
        alert("An error occurred")
    });
</script>
#end