#macro(mainLayout)
<!DOCTYPE html>
<html>
    <head>
        <title>Oppgave 9</title>

        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/vuetify.min.css">
        <link rel="stylesheet" type="text/css" href="/style.css">

        <script src="/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/ace/theme-monokai.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/ace/mode-groovy.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/ace/mode-javascript.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/ace/mode-python.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/ace/mode-ruby.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/axios.min.js"></script>
        <script src="/js/vue.js"></script>
        <script src="/js/vuetify.js"></script>
        <script src="/js/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <link rel="stylesheet" href="/css/font-awesome.min.css">
    </head>
    <body>
        <header>
            <div class="width-limit">
                <ul class="navigation">
                    <img class="logo" src="/img/og9.png">
                    #if($logintype == "teacher")
                        <li><a href="/statistics">Statistics</a></li>
                        <li><a href="/teacherLessons">Lessons</a></li>
                    #end
                    #if($logintype == "student")
                        <li><a href="/lessons">Lessons</a></li>
                        <li><a href="/about">About</a></li>
                    #end
                    <li id="logout"><a href="/logout">Log out</a></li>
                </ul>
            </div>
        </header>
        <main class="width-limit">
            $!bodyContent
        </main>
    </body>
</html>
#end
