#parse("/velocity/layout.vm")
#@mainLayout()
<div id="exercises-vue" v-cloak>
    <h1> {{ lesson.title }}</h1>
    <div> {{lesson.text}} </div>
    <ul class="block-list">
        <li v-for="exercise in exercises" class="block">
            <a :href="`/exercises/${exercise.id}`">
                <div class="block__title"> {{ exercise.title }}
                    <small v-if="exercise.solved">(solved)</small>
                </div>
                <div class="block__description"> {{ exercise.description }}</div>
            </a>
        </li>
    </ul>
</div>
<script>
    new Vue({
        el: '#exercises-vue',
        data: {
            lesson: {},
            exercises: []
        },
        created: function () {
            axios.get("/api/lessons/$lessonId").then(response => {
                this.lesson = response.data
            });
            axios.get("/api/exercises?lesson-id=$lessonId").then(response => {
                this.exercises = response.data
            });
        }
    });
</script>
#end
