#parse("/velocity/layout.vm")
#@mainLayout()
<div id="exercises-vue" v-cloak>
    <v-app>
        <v-container>
            <h1> {{ lesson.title }}</h1>
            <div id="lesson-content">
                <div id="lesson-left-container">
                    <div id="lesson-text"> {{lesson.text}}</div>
                    <v-btn v-if="isAdmin" @click="showDeleteLessonDialog = true">Delete
                        lesson
                    </v-btn>
                    <v-layout row justify-center>
                        <v-dialog v-model="showDeleteLessonDialog" max-width="290">
                            <v-card>
                                <v-card-title class="headline">Are you sure you want to delete this lesson?
                                </v-card-title>
                                <v-card-text>This will permanently delete the lesson from the database.</v-card-text>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="red darken-4" flat="flat"
                                           @click.native="showDeleteLessonDialog = false">No
                                    </v-btn>
                                    <v-btn color="green darken-4" flat="flat"
                                           @click.native="deleteLesson">Yes
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                    </v-layout>
                    <v-btn v-if="isAdmin" id="saveChanges" href="#">Save changes</v-btn>
                </div>
                <div id="lesson-right-container">
                    <ul id="exercise-list" class="block-list">
                        <li v-for="exercise in exercises" class="block">
                            <a :href="`/exercises/${exercise.id}`">
                                <div class="block__title"> {{ exercise.title }}
                                    <small v-if="exercise.solved">(solved)</small>
                                </div>
                                <div class="block__description"> {{ exercise.description }}</div>
                            </a>
                        </li>
                    </ul>
                    <v-btn v-if="isAdmin" id="addExercise" href="#">Add exercise</v-btn>
                </div>
            </div>
        </v-container>
    </v-app>
</div>
<script>
    new Vue({
        el: '#exercises-vue',
        data: {
            lesson: {},
            exercises: [],
            isAdmin: false,
            showDeleteLessonDialog: false
        },
        methods: {
            deleteLesson: function () {
                axios.delete("/api/lessons/$lessonId").then(response => {
                    window.location = "/lessons";
                });
            }
        },
        created: function () {
            axios.get("/api/lessons/$lessonId").then(response => {
                this.lesson = response.data
            });
            axios.get("/api/lessons/$lessonId/exercises").then(response => {
                this.exercises = response.data
            });
            axios.get("/api/user").then(response => {
                this.isAdmin = response.data.admin;
            });
        }
    });
</script>
#end
