#parse("/velocity/layout.vm")
#@mainLayout()
<style>header {display: none}</style>
<form id="login-form" method="post" action="/login">
    <h1>Log in</h1>
    <input name="username" type="text" placeholder="Username">
    <input name="password" type="password" placeholder="Password">
    <button>Log in</button>
</form>
#end
