#* @vtlvariable name="userInfoList" type="java.util.List<app.model.UserInfo>" *#
#* @vtlvariable name="exerciseInfoList" type="java.util.List<app.model.ExerciseInfo>" *#
#parse("/velocity/layout.vm")
#@mainLayout()



<h1>Student statistics</h1>
<table>
    <thead>
    <th>Student ID</th>
    <th>Solved state</th>
    <th>Attempts</th>
    </thead>
    <tbody>
        #foreach($userInfo in $userInfoList)
        <tr>
            <td>$userInfo.userId</td>
            <td>$userInfo.exerciseToSolved</td>
            <td>$userInfo.exerciseToAttempts</td>
        </tr>
        #end
    </tbody>
</table>

<script>

    axios.get("/api/statistics/exercises").then(function (response) {
        var graphData = [];
        graphData.push(["Exercise", "Total Attempts"]);
        response.data.forEach(function (element) {
            graphData.push([element.exerciseId, element.totalAttempts]);
        });
        google.charts.load('current', {packages: ['corechart', 'bar']});
        google.charts.setOnLoadCallback(() => drawChart(graphData));
    });

    function drawChart(graphData) {
        var data = google.visualization.arrayToDataTable(graphData);
        var options = {
            title: "Number of attempts per exercise",
            width: 600,
            height: 400,
            bar: {groupWidth: '95%'},
            legend: {position: 'none'},
        };
        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
</script>
<!--Div that will hold the pie chart-->
<div id="chart_div"></div>
#end
